@using recepcionMedica.ViewModels;

@model PacienteViewModel;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <form method="get" asp-action="Index" asp-controller="Paciente">
        <div class="rec form-group">
            <input class ="form-control" asp-for="NameFilter">
        </div>
        <button class="btn" type="submit">Buscar</button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pacientes.FirstOrDefault().NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacientes.FirstOrDefault().Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacientes.FirstOrDefault().ObraSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacientes.FirstOrDefault().Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacientes.FirstOrDefault().telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacientes.FirstOrDefault().MedicoTratante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pacientes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObraSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicoTratante)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
